/* CSS Variables */

:root {
  --primary: #FDB515;
  --dark: #003262;
  --light: #fff;
  --lighterblue: #7ab5e3;
  --lightblue: #3B7EA1;
  --darkyellow: #C4820E;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.header {
  height: 4em;
  background-color: var(--dark);
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}
  
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary);
}
  
body {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  margin: 30px 50px;
  line-height: 1.4;
  min-height: 100vh;
}
  
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
  
img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* close/delete button for due date list */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: var(--dark);
  color: white;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Google Maps */
#map{
  height: 100%;
  display: inline;
}

/* Navigation */
.nav__list {
  margin-right: 5em;
}

.nav__list-item {
  margin-left: 5em;
  margin-top: 1.25em;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: var(--primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--primary);
}
  
.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  transition: width 0.5s ease-in-out;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}
  
.link--nav {
  font-weight: 500;
}

/* Main page */
.welcome {
  font-size: 3rem;
  margin-top: 250px;
  color: var(--light);
}

/* Due Date page */
#new-task-form {
  display: flex;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-name {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1rem;
}

#new-task-duration {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1rem;
}

#new-task-name::placeholder{
  color: var(--lightblue);
}

#new-task-date {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  font-size: 1rem;
}

#new-task-duration::placeholder{
  color: var(--lightblue);
}

#new-task-date::placeholder{
  color: var(--lightblue);
}

#new-task-submit {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--lighterblue), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;

}

#new-task-submit:hover{
  opacity: 0.8;
}

#new-task-submit:active{
  opacity: 0.4;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightblue);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

#tasks .task .content .text {
  color:#fff;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: var(--darkyellow);
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.vertical-stack {
  display: flex;
  align-items: center;
}

.maps-layout{
  flex-direction: row;
}

.task .actions button:hover{
  opacity: 0.8;
}

.task .actions button:active{
  opacity: 0.4;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--lighterblue), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: lightcoral;
}

.type-dropdown{
  font-size: medium;
}

.side-box {
  grid-area: b;
}
.dropbtn {
  color: Black;
  width: 220px;
  height: 70px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content::before {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown part I just added */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: var(--primary);
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--dark)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content 
container when the user clicks on the dropdown button) */
.show {display:block;}


#task-name {
  width: 200px;
  height: 60px;
  font-size: 24pt;
}

#task-date {
  width: 200px;
  height: 60px;
  font-size: 24pt;
}

.show {display:block;}